/* Подвал */

.footer {
  background-color: $darck-background-color;
  padding: 60px 0;

  h2 {
    display: block;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
  }

  &-container {
    text-align: center;
  }

  &-box {
    line-height: 1.71;
    font-style: normal;
    &:not(:last-child) {
      margin: 0 auto 60px;
    }
  }
  &-address {
    color: $main-color;
  }
  &-contacts {
    color: rgba(255, 255, 255, 0.6);
  }
  .mail {
    display: block;
  }

  .social-icon {
    fill: $main-color;
  }
}

// Форма в футере

.mail-input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 0 16px;
  @include bordered(rgba(255, 255, 255, 0.3));
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background: $darck-background-color;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

// @media screen and (min-width: $tablet) {
//   .footer-container {
//     display: flex;
//     justify-content: space-between;
//     align-items: baseline;
//     flex-wrap: wrap;
//   }
//   .footer-box {
//     display: block;
//     width: inherit;
//   }
// }

// .footer-address:not(:last-child) {
//   padding-bottom: 9px;
// }

// @media  {&-container {
// display: flex;
// justify-content: space-between;
// align-items: baseline;
// flex-wrap: wrap;
// }
