/* логотип */

.logo {
  display: block;

  font-family: Raleway, sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  &-web {
    color: $accent-color;
  }
}

 header .logo{
  @media screen and (max-width: $tablet - 1px) {
   
    padding: 16px 0;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}


.footer .logo {
  color: $main-color;
}
