header {
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
}
.current::after {
  opacity: 1;
}
.nav:hover::after,
.nav:focus::after {
  opacity: 1;
}

.nav {
  color: $heading-color;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-duration: $duration;
  transition-timing-function: $timing-function;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 100%;
    height: 4px;
    background: $accent-color;
    border-radius: 2px;
    opacity: 0;
    transition-duration: $duration;
    transition-timing-function: $timing-function;
  }
  &:hover,
  &:focus,
  .current {
    color: $accent-color;
  }
}

.link-list {
  /* Адрес в навигации */

  .address-container {
    display: flex;
    margin-left: auto;
    margin-right: 0;
  }

  .address-link {
    display: inline-flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 50px;
    }
    .contact-icon {
      fill: currentColor;
      margin-right: 10px;
    }
  }

  .address {
    display: block;
    padding: 32px 0px;
    letter-spacing: 0.02em;
    color: $main-text-color;
    &:hover,
    &:focus {
      color: $accent-color;
      transition-duration: $duration;
      transition-timing-function: $timing-function;
    }
  }
}
