header {
  width: 100%;
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: $tablet - 1px) {
  .nav-menu {
    display: none;
  }
  .mobile-menu {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 8;
  }
  .icon-cross {
    display: none;
  }
  .is-open .icon-cross {
    display: block;
  }
  .is-open .icon-menu {
    display: none;
  }
}
@media screen and (min-width: $tablet) {
  .nav-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-link {
    position: relative;
    display: inline-flex;
    padding-top: 32px;
    padding-bottom: 32px;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .nav {
    color: $heading-color;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-duration: $duration;
    transition-timing-function: $timing-function;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;

      width: 100%;
      height: 4px;
      background: $accent-color;
      border-radius: 2px;
      opacity: 0;
      transition-duration: $duration;
      transition-timing-function: $timing-function;
    }
    &:hover,
    &:focus,
    .current {
      color: $accent-color;
    }
  }

  .current::after {
    opacity: 1;
  }
  .nav:hover::after,
  .nav:focus::after {
    opacity: 1;
  }

  .address-container {
    display: flex;
    justify-content: center;

    padding: 21px 0;
  }

  .address-link {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
    .contact-icon {
      margin-right: 8px;
      fill: currentColor;
    }
  }

  .address {
    letter-spacing: 0.02em;
    color: $main-text-color;

    &:hover,
    &:focus {
      color: $accent-color;
      transition-duration: $duration;
      transition-timing-function: $timing-function;
    }
  }
}

@media screen and (min-width: $desktop) {
  .address-link {
    display: inline-flex;
    // align-items: center;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
