// Форма в модальном окне

.contact-form {
  input:focus,
  textarea:focus {
    outline: none;
    border-color: $accent-color;
  }
  .modal-title {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

.form-label {
  position: relative;
  margin-bottom: 10px;
  .form-text {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
    text-align: left;
  }
  .form-icon {
    position: absolute;
    bottom: 14px;
    left: 14px;
  }
}

.form-input {
  position: relative;
  width: 450px;
  height: 40px;
  padding-left: 42px;
  @include bordered(rgba(33, 33, 33, 0.2));
  border-radius: 4px;
  &::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus ~ .form-icon {
    fill: $accent-color;
  }
}

.feedback {
  display: block;
  margin-bottom: 20px;
  .form-input {
    height: 120px;
    resize: none;
    padding: 12px 16px;
  }
}

.agreement {
  position: relative;
  display: block;
  margin-bottom: 30px;
  &-check {
    display: block;
    width: 15px;
    height: 15px;
  }
  &-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
  a {
    text-decoration: underline;
    color: $accent-color;
  }
  .icon-not-check,
  .agreement-check:checked ~ .icon-check {
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
  }
  .icon-check,
  .agreement-check:checked ~ .icon-not-check {
    display: none;
  }
}

// Форма в футере

.mail-form {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 12px;
  margin-left: auto;
  margin-right: 0;
  h2 {
    display: block;
    margin-left: 0;
    margin-right: auto;
  }
  .mail-box {
    display: flex;
  }
  .mail-label {
    width: inherit;
    height: inherit;
  }
  .mail-input {
    display: block;
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;
    padding-right: 16px;
    @include bordered(rgba(255, 255, 255, 0.3));
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background: $darck-background-color;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}
