.section-product {
  background: $main-color;
  padding: 60px 0;

  .button-filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
}

.portfolio-box {
  margin: 0 auto;
}
.portfolio-product {
  background: $main-color;
  @include bordered(#eeeeee);

  max-width: 450px;
  min-height: 404px;
  transition-duration: $duration;
  transition-timing-function: $timing-function;
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .product-box {
    padding: 20px 24px;
  }
  .product-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $heading-color;
    padding-bottom: 4px;
  }
  .product-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    color: $main-text-color;
  }
}

@media screen and (min-width: $tablet) {
  .button-filter {
    justify-content: center;
  }
  .portfolio-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .portfolio-product {
      max-width: 354px;
    }
  }
}

@media screen and (min-width: $desktop) {
  .section-product {
    padding: 94px 0px 64px;
    .portfolio-product {
      max-width: 370px;
      margin-bottom: 30px;
    }
  }
}
